<% provide(:title, "#{@patientName} Chart") %>
<script>
	function strikeThrough(){
		var tasks = document.getElementsByClassName("input-group")
		var length = tasks.length;
		for(var i = 0; i < length; i++){
			var val = tasks[i].getElementsByClassName("task-checkbox")[0].checked;
			var span = tasks[i].getElementsByTagName("span")[0];
			if(val){
				span.style.textDecoration = "line-through";
			} else {
				span.style.textDecoration = "none";
			}
		}
	}
</script>
<body>
	<div class="container">
	  <ul class="list-inline">
      <li><h1><%= @patientName %>'s Chart</h1></li>
      <li><p><%= link_to "Edit #{@patientName} Profile", editpatient_path, {class: "btn btn-md btn-primary"} %></p></li>
      <li><p><%= link_to "#{@patientName} Vitals", vitalsOverview_path, {class: "btn btn-md btn-primary"} %></p></li>
		</ul>

		<div class="row">
		<div class="col-md-8">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Medications</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% if @patient[:medications].size == 0 %>
            <li>None</li>
          <% else %>
            <% @patient[:medications].each do |med| %>
              <li><%= med %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Symptoms</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% if @patient[:symptoms].size == 0 %>
          <li>None</li>
        <% else %>
          <% @patient[:symptoms].each do |symptom| %>
            <li><%= symptom %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
	
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Allergies</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% if @patient[:allergies].size == 0 %>
            <li>None</li>
          <% else %>
            <% @patient[:allergies].each do |allergy| %>
              <li><%= allergy %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    </div>
    
    <div class="col-md-4">

		
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks To Complete</h3>
      </div>
      <div class="panel-body">
        <% if @patient[:tasksToComplete].size == 0 %>
          None
        <% else %>
          <ul class="list-group">
          <% @patient[:tasksToComplete].each do |task| %>
            <li class="list-group-item">
              <div class="input-group">
                <input type="checkbox" class="task-checkbox" onclick="strikeThrough()">
                <span><%= task %></span>
              </div>
            </li>
          <% end %>
          </ul>
        <% end %>
      </div>
    </div>

		<p><%= link_to "View Completed Tasks", tasks_path, {class: "pull-right btn btn-md btn-primary"} %></p>
		<button type="button" class="pull-right btn btn-primary btn-md" data-toggle="modal" data-target="#addTaskModal">Add Task</button>

    </div>
    </div>
		
		
		<!-- Modal -->
		<div class="modal fade" id="addTaskModal" role="dialog" aria-labelledby="addTaskModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="addTaskModalLabel">Add Task</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="taskDesc" class="control-label">Task Description:</label>
								<textarea class="form-control" id="taskDesc"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Add task</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
