<% provide(:title, 'Register Patient') %>
<body>
	<div class="container">
		<h1>Register Patient</h1>

		<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-3">
						<p>First Name</p>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control">
					</div>
				</div>

				<div class="row" style="padding-top: 10px">
					<div class="col-sm-3">
						<p>Last Name</p>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control">
					</div>
				</div>

				<div class="row" style="padding-top: 10px">
					<div class="col-sm-3">
						Gender
					</div>

					<div class="col-sm-3">
						<input type="radio" id="maleRadio" name="gender">Male
					</div>

					<div class="col-sm-3">
						<input type="radio" id="femaleRadio" name="gender">Female
					</div>

				</div>

				<div class="row" style="margin-top:10px">

					<div class="col-sm-3">
						<p>Date of Birth</p>
					</div>
					<div class="col-sm-3">
							<select id="month">
								<option value="1">January</option>
								<option value="2">February</option>
								<option value="3">March</option>
								<option value="4">April</option>
								<option value="5">May</option>
								<option value="6">June</option>
								<option value="7">July</option>
								<option value="8">August</option>
								<option value="9">September</option>
								<option value="10">October</option>
								<option value="11">November</option>
								<option value="12">December</option>
							</select>
					</div>
					<div class="col-sm-2">
						<select id="date">
							<% for i in 1..31 do %>
								<option value="<%=i%>"><%=i%></option>
							<% end %>
						</select>
					</div>
					<div class="col-sm-4">
						<select id="year">
							<option  value="blank"> </option>
							<% for i in 1900..2015 do %>
								<option value="<%=i%>"><%=i%></option>
							<% end %>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<p>Height</p>
					</div>
					<div class="col-sm-3">
						<input type="number" style="width: 100px">
					</div>
					<div class="col-sm-2">
						<p>Weight</p>
					</div>
					<div class="col-sm-4">
						<input type="number" style="width: 100px">
					</div>
				</div>

				<div class="row" style="padding-top: 10px">
					<div class="col-sm-3">
						<p>E-mail Address</p>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control">
					</div>
				</div>

				<div class="row" style="padding-top: 10px">
					<div class="col-sm-3">
						<p>Phone Number</p>
					</div>
					<div class="col-sm-9">
						<input type="text" class="form-control">
					</div>
				</div>

				<div class="row" style="padding-top: 10px">
					<div class="col-sm-3">
						<p>Address</p>
					</div>
					<div class="col-sm-9">
							<input type="text" class="form-control">

					</div>
				</div>

				<div class="row" style="padding-top: 10px">

					<div class="col-sm-3">
					<p>City</p>
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control">

				</div>
				</div>
			<div class="row" style="padding-top: 10px">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-1" style="padding-top: 5px">
					<p>State </p>
				</div>
				<div class="col-sm-2" style="padding-top: 5px">
					<select>
						<option value="feb">NY</option>
						<option value="jan">AL</option>
						<option value="feb">AK</option>
						<option value="feb">AZ</option>
						<option value="feb">AR</option>
						<option value="feb">CA</option>
						<option value="feb">CO</option>
						<option value="feb">CT</option>
						<option value="feb">DE</option>
						<option value="feb">FL</option>
						<option value="feb">GA</option>
						<option value="feb">HI</option>
						<option value="feb">ID</option>
						<option value="feb">IL</option>
						<option value="feb">IN</option>
						<option value="feb">IA</option>
						<option value="feb">KS</option>
						<option value="feb">KY</option>
						<option value="feb">LA</option>
						<option value="feb">ME</option>
						<option value="feb">MD</option>
						<option value="feb">MA</option>
						<option value="feb">MI</option>
						<option value="feb">MN</option>
						<option value="feb">MS</option>
						<option value="feb">MO</option>
						<option value="feb">MT</option>
						<option value="feb">NE</option>
						<option value="feb">NV</option>
						<option value="feb">NH</option>
						<option value="feb">NJ</option>
						<option value="feb">NM</option>
					</select>
				</div>
				<div class="col-sm-1" style="padding-top: 5px">
					<p>Zip </p>
				</div>
				<div class="col-sm-2" style="padding-left: 0px">
					<input type="text" class="form-control">
				</div>
			</div>

				<div class="row">
					<div class="col-sm-3">
						<p>Allergies</p>
					</div>
					<div class="col-sm-9">
						<input id="pollen" type="checkbox"><span class="allergy">Pollen</span>
						<input id="dust" type="checkbox"><span class="allergy">Dust Mites</span> 
						<input id="pen" type="checkbox"><span class="allergy">Penicillin</span> 
						<input id="cat" type="checkbox"><span class="allergy">Cats</span> 
						<input id="dog" type="checkbox"><span class="allergy">Dogs</span> 
						<div>
							Other <input type="text">
						</div>
					</div>
				</div>
		</div>
		<div class="col-sm-4">
			<div class="row">
				<img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Man_Silhouette.png" alt="Picture" height="300" width="300" class="pull-right">
			</div>
			<br>
			<div class="row">
				<%= link_to "Take Picture", "#", {class: "btn btn-md btn-primary pull-right"} %>
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="row">
				<%= link_to "Save", {controller: :patient, action: "home"}, {class: "btn btn-md btn-primary pull-right"} %>
				<%= link_to "Cancel", {controller: :patient, action: "home"}, {class: "btn btn-md btn-default pull-right"} %>

			</div>

		</div>

	</div>
</body>
