<% provide(:title, "#{@patientName} #{@vitalName}") %>
<body>
	<div class="container">
		<h1><%= @vitalName %></h1>
		<div id="vitalChart"></div>
		<%= link_to "Add measurement", vital_path(@patientID, @vitalID), {class: "btn btn-md btn-primary"} %>
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
					<% @patientVital.each do |vitalSign| %>
						<tr class="<%= 'danger' if !@inHealthyRange.call(@vitalID, vitalSign[:value]) %>">
							<td>
								<%= "#{vitalSign[:time].strftime('%b %d')}" %>
							</td>
							<td>
								<%= "#{vitalSign[:time].strftime('%I:%M%p')}" %>
							</td>
							<td>
								<% if @vitalName == "Blood Pressure" %>
									<%= "#{vitalSign[:value][:systolic]}" %>/<%= "#{vitalSign[:value][:diastolic]}" %>
								<% else %>
									<%= "#{vitalSign[:value]} #{@units}" %>
								<% end %>
							</td>
						</tr>
					<% end %>
			</tbody>
		</table>
		<br>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			var vitalData = JSON.parse(<%= raw @formattedData.to_json %>);

			var chart = c3.generate({
		    bindto: '#vitalChart',
		    data: {
					x: 'x',
		      columns: [
						['x'].concat(_.map(vitalData, function(d) { return new Date(d.date); })),
						<% if @vitalName == "Blood Pressure" %>
							['Systolic Pressure'].concat(_.pluck(vitalData, 'value.systolic')),
							['Diastolic Pressure'].concat(_.pluck(vitalData, 'value.diastolic')),
						<% else %>
							["<%= @vitalName  %> (<%= @units %>)"].concat(_.pluck(vitalData, 'value'))
						<% end %>
		      ]
		    },
				axis: {
					x: {
						label: 'Time',
						type: 'timeseries',
						tick: {
							format: '%I %p'
						}
					},
					y: {
						label: {
							text: "<%= @vitalName  %> (<%= @units %>)",
							position: "outer-middle"
						}
					}
				}
			});
		});
	</script>
</body>
