<!DOCTYPE html>
<html>
<head>
  <title>Quickvitals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ol class="breadcrumb">
  <%= render_breadcrumbs tag: :li, separator: "" %>
</ol>
<%= yield %>

</body>
</html>
